*.class
*.tasty
.metals
.bloop
.bsp
.sbt
*.gch
.cache
target
*.o

**/target
project/project
project/metals.sbt
build/**
Dockerfile
build
.docker-build
fly.toml
out
build
**/node_modules
**/dist
example-duckdb/duckdb/build
