name: CI
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    name: CI
    strategy:
      fail-fast: false
      matrix: 
        os: [macos-11, ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' 
          java-version: '17'

      - name: Cache sbt-vcpkg
        uses: actions/cache@v3
        with:
          path: |
            ~/Library/Caches/sbt-vcpkg
            ~/.cache/sbt-vcpkg
          key: ${{ runner.os }}-sbt-vcpkg-${{ hashFiles('**/*.sbt') }}

      - name: Setup for Scala Native
        run: |
          PLATFORM="$(uname)"
          if [ $PLATFORM == "Darwin" ]; then
            echo "It's a Mac"
            brew install llvm ninja
          else
            echo "It's a Linux"
            sudo apt update
            sudo apt install lsb-release wget software-properties-common
            wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
            sudo add-apt-repository "deb http://apt.llvm.org/focal/     llvm-toolchain-focal-13   main"
            sudo apt-get update 
            sudo apt-get install clang-13 lldb-13 libclang-13-dev llvm-13-dev lld-13
            sudo apt-get install ninja-build
          fi

      - name: Setup for examples
        run: |
          git submodule update --init

          cd example-tree-sitter && ./setup.sh
          cd example-civetweb && ./setup.sh

          PLATFORM="$(uname)"
          if [ $PLATFORM == "Darwin" ]; then 
            echo "It's a Mac"
          else
            docker run -p 5432:5432 -e POSTGRES_PASSWORD=mysecretpassword -d postgres
            docker run -p 6379:6379 -d redis
          fi

      - name: Run examples
        run: | 
          PLATFORM="$(uname)"
          if [ $PLATFORM == "Darwin" ]; then 
            echo "It's a Mac"
            LLVM_BIN=/usr/local/opt/llvm/bin sbt runExamples
          else
            echo "It's a Linux"
            LLVM_BIN=/usr/lib/llvm-13/bin sbt runExamples
          fi
