name: CI
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    name: CI
    strategy:
      fail-fast: false
      matrix: 
        os: [macos-11, ubuntu-20.04]
        example:
          # - tree-sitter
          # - cjson 
          # - git
          # - sqlite
          # - civetweb 
          # - cmark 
          # - rocksdb 
          # - duckdb 
          # - postgres 
          # - redis
          # - libuv
          - vcpkg
        exclude:
          - os: macos-11 
            example: postgres 
          - os: macos-11 
            example: redis
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' 
          java-version: '17'

      - uses: coursier/cache-action@v6      

      - name: Setup for Scala Native
        run: |
          PLATFORM="$(uname)"
          if [ $PLATFORM == "Darwin" ]; then
            echo "It's a Mac"
            brew install llvm ninja
          else
            echo "It's a Linux"
            sudo apt update
            sudo apt install lsb-release wget software-properties-common
            wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
            sudo add-apt-repository "deb http://apt.llvm.org/focal/     llvm-toolchain-focal-13   main"
            sudo apt-get update 
            sudo apt-get install clang-13 lldb-13 libclang-13-dev llvm-13-dev lld-13
            sudo apt-get install ninja-build
          fi

      - name: Setup for examples
        run: |
          git submodule update --init

          cd example-${{ matrix.example }} && ./setup.sh

          PLATFORM="$(uname)"
          if [ $PLATFORM == "Darwin" ]; then 
            echo "It's a Mac"
          else
            docker run -p 5432:5432 -e POSTGRES_PASSWORD=mysecretpassword -d postgres
            docker run -p 6379:6379 -d redis
          fi

      - name: Run examples
        run: | 
          PLATFORM="$(uname)"
          if [ $PLATFORM == "Darwin" ]; then 
            echo "It's a Mac"
            LLVM_BIN=/usr/local/opt/llvm/bin sbt ${{ matrix.example }}/run
          else
            echo "It's a Linux"
            LLVM_BIN=/usr/lib/llvm-13/bin sbt ${{ matrix.example }}/run
          fi
